.banner{height: 437px;}
.banner .banner-top{width: 961px;height: 57px;background-color: #fff;margin: 0 auto; }
.banner .banner-top ul{width: 961px;margin: 0 auto;}
.banner .banner-top ul li{float: left;width: 312px;line-height: 57px;background-color: #da4600;}
.exefcise{margin-left: 12px;margin-right: 12px}
.banner .banner-top ul li a{display: block;color: #ffffff;text-align: center;padding-left:12px;}
.banner-bottom{height: 380px;background-color: #d43400;}
.banner-image{height: 380px;width: 961px;background-image: url(../images/index_14.gif);margin: 0 auto;}
         
