.main{height: 810px;background-image: url(../images/main_bgi_03.png);border-bottom: 1px solid #e4e4e4;}
.main p,li{color: #808080;}
.main-inner .main-top{height: 347px;}
.main-top .left{width: 327px;height: 347px;float: left;text-align: left;}
.main-top .left h3{margin-top: 50px;margin-bottom: 25px;}
.main-top .left li{list-style-type: none;background-image: url(../images/sanjiao_03.gif);background-repeat: no-repeat;background-position: left center;padding-left: 16px;line-height: 28px;}
.main-top .right{width: 612px;height: 347px;float: left;}
.main-top .right h2{margin-top: 44px;margin-bottom: 27px;}
.main-top .right p{margin-bottom: 18px;}
.main-top .right p span{line-height: 23px;font-size: 10px;}
.main-top .right p span:nth-of-type(1){font-weight: bold;}
.main-top .right p span:nth-of-type(2){color: #d43400;}
.main-top .right p span:nth-of-type(3){font-weight: bold;}
.main-top .right p span:nth-of-type(4){color: #d43400;}
.main-top .right p span:nth-of-type(5){color: #d43400;}
.main-top .right a{background-color: #d43400;width: 103px;height: 25px;color: #ffffff;text-decoration: none;display: block;text-align: center;line-height: 25px;}
.main-top .right .img{width: 226px;height: 155px;background-image: url(../images/mainrightbig_05.gif);float: left;margin-right: 25px;/*margin-bottom: 20px;*/}

.main-inner .main-bottom{height: 435px;}
.main-inner .main-bottom p{line-height: 21px;}
.main-inner .main-bottom a{color: #d43400;text-decoration: none;margin-bottom: 30px;}
.main-inner .main-bottom h3{margin-top: 19px;}
.main-inner .main-bottom h4{margin-bottom: 20px;font-size: 8px;}
.main-inner .main-bottom .left{width: 242px;height: 435px;float: left;margin-right: 80px;}
.main-inner .main-bottom .left p{margin-bottom: 27px;font-size: 8px;}
.main-inner .main-bottom .middle{width: 313px;height: 435px;float: left;margin-right: 46px;}
.main-inner .main-bottom .middle p{font-size: 8px;}
.main-inner .main-bottom .right{width: 277px;height: 435px;float: left;}
.main-inner .main-bottom .right p{font-size: 8px;}
.main-inner .main-bottom .right .imga{width: 95px;height: 95px;background-image: url(../images/imga.gif);float: left;margin-right: 26px;}
.main-inner .main-bottom .right .imgb{width: 95px;height: 95px;background-image: url(../images/imgb.gif);float: left;margin-right: 26px;}
.main-inner .main-bottom .right .imgc{width: 95px;height: 95px;background-image: url(../images/imgc.gif);float: left;margin-right: 26px;
