*{margin: 0;padding: 0;}
a{text-decoration:none; }
ul{list-style: none;}
body{font-family: verdana;font-size: 14px;background-image: url(../images/top_05.gif);}
.top-inner,.header-inner,.banner-top,.main-inner,.footer-inner{width: 961px;margin: 0 auto;}
.top{height: 62px;background-color: #ffffff;border-bottom:#e4e4e4 1px solid;}
.top-inner ul{width: 961px;margin: 0 auto;}
.top-inner ul li{float: left;width: 191px;border-right: 1px solid #e4e4e4;line-height: 62px;text-align: center;}
.top-inner ul li a{display: block;color: #272727;}
.top-inner ul li a:hover{color: #fff;background-color: #c32300;}
.home{border-left: 1px solid #e4e4e4;}
.top-inner ul .home a{color:#fff;background-color: #c32300;}
.header{height:139px;}
.header-inner .logo{background-image: url(../images/logo_06.gif);width: 206px;height: 89px;float: left;margin-top: 18px;margin-left: 45px}
.header-inner .search{background-image: url(../images/search_09.gif);width: 229px;height: 36px;float: right;margin-top: 52px;margin-right: 46px;}
.footer{height: 127px;}
.footer-inner{text-align: center;}
.footer-inner p{margin-top: 30px;color: #808080;}
.footer-inner a{color: #c32300;}
.footer-inner p .webside{text-decoration: underline;}
